header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: hsl(0, 0%, 100%);
  background: hsl(220, 15%, 12%);
  padding: 2rem;
  text-align: center;
}

.user_area {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.git_img_container {
  text-align: center;
}

.user_area img {
  border-radius: 50%;
}

@media screen and (max-width: 616px) {
  header {
    justify-content: center;
  }
}
